@import "css/components/header.css";
@import "css/components/projects.css";
@import "css/components/social.css";
@import "css/components/skills.css";
@import "css/components/contact.css";
@import "css/components/footer.css";
@import "css/components/opening_screen.css";
@import "css/components/languages.css";





body {
  background-color: #f5efe1;
}

.content {
  margin: 0vw 5vw;
}

.gradient-mode {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


