.button-container {
  padding: 0px 0px 0px 140px;
}
.btn-ghost {
  color: #FFF8F0;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2A0C4E;
  transition: background 0.3s ease;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  font-weight: lighter;
}

.btn-ghost:hover {
  background: #51355A;
  color: #FFF8F0;
  font-weight: bold;
}
