.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  margin-bottom: 1vw;
}

@media screen and (max-width: 900px) {
  .footer {
    font-size: 2vw;
  }
}

.footer a {
  text-decoration: none;
  color: inherit;
}

#year h1 {
  font-size: 20vw;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

#rights a {
  font-family: 'Roboto', sans-serif;
}

.footer a:hover {
  opacity: 0.6;
  cursor: pointer;
}

.weird-mode {
  text-shadow: 1px 1px 3px red;
}

.glitches{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}

#glitches:before,
#glitches:after{
  content: attr();
  position: absolute;
  left: 0;
}

#glitches:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}

#year:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}
