.navbar {
  background-color: #FFF8F0;
  color: #2A0C4E;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.navbar a {
 text-decoration: none;
 color: inherit;
 opacity: 0.5;
}

.navbar a:hover {
  opacity: 1;
}

.navbar .social a {
  color: #2A0C4E;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.navbar .social a:hover {
  color: #51355A;
  opacity: 0.9;
}
