#works li {
  display: flex;
  justify-content: space-between;
  }

 #works ul {
  position: relative;
 }

.projects ul {
  list-style-type: none;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}


.projects h2 {
  font-size: 8vw;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  padding: 3vw 0;
}

.projects li {
  text-transform: uppercase;
  line-height: 4vw;
  letter-spacing: -0.04em;
}

.projects li a {
  text-decoration: none;
  color: inherit;
}

.projects li a:hover {
  font-weight: bold;
}

.projects p {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  letter-spacing: -0.02em;
  padding-bottom: 10px;
}

.projects a img {
  display: none;
  opacity: 1 !important;
}

.projects a:hover img {
  display: block;
  position: absolute;
  opacity: 1 !important;
  right: 10%;
  top: -10%;
  width: 50%;
  filter: grayscale(100%);
  -webkit-animation-name: steam;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: steam;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*
.projects-img {
  display: block !important;
  position: absolute;
  right: 10%;
  top: -10%;
  width: 50%;
  filter: grayscale(100%);
  -webkit-animation-name: steam;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: steam;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
*/

@-webkit-keyframes steam {
    0%, 100% {
        -webkit-transform: skewX(0deg);
        opacity: 1;
    }
    25% { -webkit-transform: skewX(10deg); opacity: .8; }
    75% { -webkit-transform: skewX(-10deg); opacity: .8; }
}
@keyframes steam {
    0%, 100% {
        transform: skewX(0deg);
        opacity: 1;
    }
    25% { transform: skewX(10deg); opacity: .8; }
    75% { transform: skewX(-10deg); opacity: .8; }
}

.ghost {
  opacity: 0 !important;
}

.incoming a {
  opacity: 0.6;
}

.incoming p {
  opacity: 0.5;
}
