.social {
  text-align: right;
  padding: 3px 3px;
}

.social ul {
  list-style-type: none;
}

.social a {
  text-decoration: none;
  font-color: black;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}

.social li a:hover {
  opacity: 0.6;
}


@media screen and (max-width: 900px) {
  .social li {
    margin: -2px 0;
    clear: both;
  }

  .social a {
    font-size: 2vw;
  }
}

@media screen and (max-width: 400px) {
  .social li {
    margin: -6px 0;
    clear: both;
  }
}
